/* .top{
    padding:10px;
}

.first-page{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
} */

img {  
    width: auto;
    max-height: 400px;  
    max-width:400px;
    height: auto;  
    }  

.bio-part{
    display: flex;        
    justify-content: space-around;
    align-items: center;
}


.full{
    padding: 50px 50px 10px 50px;
}

.content{
    text-align: center;
}

.full{
    display: flex;    
    justify-content: space-between;
    align-items: center;

}

.whole{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}